.remark-slide-content {
  font-size: 20px;  
  line-height: 1.25;
}

.remark-slide-content h1 { font-size: 1.9em; }
.remark-slide-content h2 { font-size: 1.5em; }
.remark-slide-content h3 { font-size: 1.2em; }